# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env files (민감정보 보호)
.env
.env*.local

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
